.report-chart-group {
    display: flex;
    align-items: center;
    margin: 0;
    width: calc(100% - 80px);
    padding: 0 40px 32px;
}
.report-chart-wrapper.line, .report-chart-wrapper.bar {
    margin-right: 16px;
    width: calc(100% - 511px);
}

.report-chart-wrapper.donut {
    width: 495px;
}

.report-chart-group .report-chart-wrapper{
    background: #fff;
    border-radius: 10px;
    padding: 16px;
}
