.action-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.action-container{
    display:flex;
    flex-direction: column;
}

.action-footer{
    display: flex;
    justify-content: start;
    align-items: center;
    clear: both;
    margin-top: 46px;
}

.action-row{
    display: flex;
    align-items: center;
}