.statistic-section {
    text-align: center;
    width: calc(25% - 16px);
    margin-right: 8px;
    margin-left: 8px;
}


.statistic-section-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}
