.m-navigation {
    width: 280px;
    height: 100vh;
    background: #e7eaf3;
    padding: 0;
}

.m-navigation.fixed {
    position: fixed;
    width: 280px;
    /* top: 58px; */
    left: 0;
}

.right-content {
    padding-left: 216px;
}
