img.img-after{
    margin-left: auto;
}
.m-sidebar {
    overflow-y: scroll;
    .logo{
        width: 28px;
        height: 28px;
    }
    .sidebar-item{
        display: flex;
        flex-direction: column;
        .sidebar-content{
            max-height: 0;
            overflow: hidden;
            transition: max-height ease 0.25s;
        }
        &.open{
            background: #e8f2ff;
            > .sidebar-btn{
                .img-after{
                    transform: rotate(90deg);
                }
            }
            > .sidebar-content{
                max-height: 680px;
                transition: max-height 1s ease-in;
            }
        }
    }
    .sidebar-item.link{
        display: flex;
        flex-direction: row;
    }
    >.sidebar-item{
        width: 260px;
        background: #fff;
        > .sidebar-btn{
            p{
                font-size: 14px;
                font-weight: 700;
            }
            .img-after{
                transition-duration: .25s;
                transition-property: transform;
            }
        }
        &.link{
            display: flex;
            flex-direction: row;
            align-items: center;
            .sidebar-link{
                font-size: 14px;
                font-weight: 700;
            }
            .img-before,.sidebar-img{
                margin-right: 5px;
            }
        }
        &.link, >.sidebar-btn{
            width: 260px;
            height: 43px;
            border: none;
            padding: 0 10px;
            &:hover{
                background: #DFF4ED;
            }
        }
        >.sidebar-btn {
            .img-before{
                margin-right: 5px;
            }
        }
        .sidebar-content{
            display: flex;
            flex-direction: column;
            padding-left: 27px;
            .sidebar-item{
                padding: 15px 0px 0px 0px;
                .sidebar-img{
                    width: 10px;
                    margin-right: 5px;
                }
                .sidebar-content{
                    padding-left: 12px;
                }
            }
            .sidebar-btn{
                background: transparent;
                border: none;
                .img-before{
                    width: 10px;
                    margin-right: 5px;
                }
                p{
                    font-size: 15px;
                    font-weight: 300;
                }
                .atom-text{
                    margin-right: 60px;
                }

            }
        }
    }

}

.m-sidebar.fixed {
    position: fixed;
    width: 280px;
    left: 0;
}
