.atom-image.img-after{
    margin-left: auto;
}
.m-sidebar {
    width: 260px;
    background: #e7eaf3;
    padding: 0;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2px;
    .sidebar-item{
        display: flex;
        flex-direction: column;
        &.active{
            background: #e8f2ff;
        }
    }
    .sidebar-item.link{
        display: flex;
        flex-direction: row;
    }
    >.sidebar-item{
        width: 228px;
        background: #fff;
        &.link{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &.link, >.sidebar-btn{
            width: 228px;
            height: 43px;
            border: none;
            padding: 0 10px;
            &:hover{
                background: red;
            }
        }
        >.sidebar-btn {
            .img-before{
                margin-right: 5px;
            }
        }
        .sidebar-content{
            display: flex;
            flex-direction: column;
            padding-left: 27px;
            .sidebar-item{
                display: flex;
                padding: 0 10px;
                .sidebar-img{
                    width: 20px;
                    margin-right: 5px;
                }
                .sidebar-content{
                    padding-left: 12px;
                }
            }
            .sidebar-btn{
                background: transparent;
                border: none;
                .img-before{
                    width: 20px;
                    margin-right: 5px;
                }
                .atom-text{
                    margin-right: 60px;
                }

            }
        }
    }

}

.m-sidebar.fixed {
    position: fixed;
    width: 280px;
    left: 0;
}


