.dashboard-search {
    padding: 16px 32px;
    width: calc(100% - 64px);
}

.search-box {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .dashboard-search .search-box .text-style {
        margin-left: 0!important;
    }
    .dashboard-search {
        padding-left: 24px;
    }
    .dashboard-search .search-box .searchbar input{
        width: 90% !important;
    }
}
