.card-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-title{
    display: flex;
    justify-content: start;
    align-content: center;
}

.card-border-box{
    box-sizing: border-box;
}