.summary-container{
    display: flex;
    flex-direction: column;
}

.summary-title{
    display: flex;
    justify-content: start;
    align-content: center;
}

.summary-group-btn{
    display: flex;
}

.summary-report-wrapper{
    display: flex;
    flex-flow: row wrap;
}

.summary-reported-by{
    margin: 0 0 0 34px;
}

.summary-from-reporter{
    margin: 15px 0 0 0 ;
}
