.status-inbox-wrapper {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.status-inbox-list {
    height: calc(100vh) ;
    overflow: scroll;
    overflow-x: hidden;
}

.status-inbox-list::-webkit-scrollbar
{
    width: 4px;
}

.status-inbox-list::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    border-right: 2px solid #FFFFFF;
    background-color: #B3B8B8;
}
