.priority-wrapper{
    display:flex;
    justify-content: space-between;
    align-content: center;
}
.btn-edit-msg{
    margin-top: 18.5px;
}

.form-message-wrapper{
    display: flex;
    flex-direction: column;

}
.form-message-wrapper > input{
    background-color: transparent;
}
